:root {
    --dark-blue: #06487b;
    --bright-blue: rgb(119, 180, 234); 
    --rust: #b15959;
    --sand: #e7bfa4;
    --pale-blue: #aacbcf;
    --white: white;
}

#root {
    background-color: var(--pale-blue);
    
}
h1 {
    font-size: 3.2rem;
}

h2 {
    text-decoration: none !important;
    font-size: 2.8rem;
}

.header-look {
    background-color: var(--dark-blue);
    color: var(--white);
}

.header-link {
    color: var(--white) !important;
}

.header-link:hover {
    color: var(--bright-blue) !important;
}

.contact-icon {
    font-size: 10rem;
    color: var(--dark-blue)
}

.about-card {
    width: 50rem;
}

.port-con {
    padding-left: 3rem;
    padding-bottom: 3rem;
}

.port-card {
   
    width:fit-content;
    margin-top: 100px;
    background-color: var(--sand);
    padding: 0;
}

.image-size {
    height: 250px;
    width: 500px;
}

.card-icon {
    color: var(--rust);
    font-size: 2rem;
}

.error-message {
    color: red;
    font-size: 1.5rem;
}
