:root {
    --dark-blue: #06487b;
    --bright-blue: #4c8dfc;
    --rust: #b15959;
    --sand: #e7bfa4;
    --pale-blue: #aacbcf;
    --white: white;
}

#root {
    background-color: var(--sand);
}

.header-look {
    background-color: var(--dark-blue);
    color: var(--pale-blue);
}

.header-link {
    color: var(--pale-blue) !important;
}

.header-link:hover {
    color: var(--white) !important;
}

.contact-icon {
    font-size: 10rem;
    color: var(--dark-blue)
}

.about-card {
    height: 70%;
}

.port-card {
    width: 30rem;
    height: max-content;
    margin-top: 100px;
}
